@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}

html, body {
  height: 100%;
  font-family: Montserrat, sans-serif;
}

.bg-dark {
  background-color: rgb(12, 12, 12) !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, sans-serif;
}

i {
  color: white;
  font-size: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

.main {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
}

.main2 {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 18px;
}

.mag-img {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 18px;
}

.jumbotron {
  margin: 0;
  background-color: #fff;
}

.btn-success {
  background-color: #00cc6c;
  border-color: #00cc6c;
}

.mag-btn {
  color: #fff;
  background-color: #00cc6c;
  border-color: #00cc6c;
  border-radius: 3rem;
}

.mag-btn:hover {
  background-color: #00bb64;
}

.mag-nav {
  background-color: rgba(0, 0, 0, 0.7);
  background-color: #00cc6c;
}

.mag-bg {
  background-color: #00cc6c;
}

.mag-link {
  color: #00cc6c;
}

.parallax-window {
  min-height: 100%;
  background: transparent;
}

.mapouter {
  text-align:right;
  height:18rem;
  width:18rem;
}

.gmap_canvas {
  overflow:hidden;
  background:none !important;
  height:18rem;
  width:18rem;
}

.grid-img img {
  width: 100%;
}

.grid-img:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0; 
  transition: .3s ease;
  background-color: rgba(0, 0, 0, 0.8);
}

