@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}

html, body {
  height: 100%;
  font-family: Montserrat, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, sans-serif;
}

i {
  color: white;
  font-size: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

.main {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
}

.main2 {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 18px;
}

.mag-img {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 18px;
}

.jumbotron {
  margin: 0;
  background-color: #fff;
}

.mag-btn {
  color: #fff;
  background-color: #00cc6c;
  border-color: #00cc6c;
  border-radius: 3rem;
}

.mag-btn:hover {
  background-color: #00bb64;
}

.mag-nav {
  background-color: rgba(0, 0, 0, 0.7);
}

.mag-bg {
  background-color: #00cc6c;
}

.mag-link {
  color: #00cc6c;
}

.parallax-window {
  min-height: 100%;
  background: transparent;
}

.mapouter {
  text-align:right;
  height:300px;
  width:300px;
}

.gmap_canvas {
  overflow:hidden;
  background:none !important;
  height:300px;
  width:300px;
}

